// <ШРИФТЫ>=====================================================================================================================================

// <Подключаем шрифты>==========================================================================================================================
// @font-face {
// 	font-family: 'Archivo';
// 	src: url('/public/assets/fonts/Archivo/Archivo.ttf') format('truetype'),
//   }
// </Подключаем шрифты>=========================================================================================================================

// <Шрифт по умолчанию>=========================================================================================================================
$defaultFont: "ComicMS";
// </Шрифт по умолчанию>========================================================================================================================

// </ШРИФТЫ>====================================================================================================================================

// <ПЕРЕМЕННЫЕ>=================================================================================================================================
$minWidth: 320px; // Минимальная ширина экрана
$maxWidthContainer: 1353px; // Контейнер
$md1: $maxWidthContainer + 40px; // Контейнер, когда нет свободного месте побокам.
$md2: 1000; // Планшеты
$md3: 420; // Смартфоны
$md4: 378; // Смартфоны по макету
$headerSize: 50px;
// </ПЕРЕМЕННЫЕ>================================================================================================================================

// <ОБОЛОЧКА>=================================================================================================================================
.wrapper {
	max-width: $maxWidthContainer;
	width: $maxWidthContainer;
	margin: 0 auto;
}
// </ОБОЛОЧКА>================================================================================================================================

// <ОСНОВНАЯ СЕТКА>=================================================================================================================================

// </ОСНОВНАЯ СЕТКА>================================================================================================================================


// <ОБЩИЕ СТИЛИ>=================================================================================================================================
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
  }

body {
	font-family: $defaultFont, sans-serif;
	position: relative;
	scroll-behavior: smooth;
	width: 100vw;
	height: 100vh;
	color: var(--globaltextColor);
	background-color: var(--globalBackground);
}

a {
	color: inherit;
	text-decoration: none;
  }
// </ОБЩИЕ СТИЛИ>================================================================================================================================

// <ИМПОРТЫ>====================================================================================================================================
// <ОБНУЛЕНИЕ>=================================================================================================================================
@import "nullstyle";
body {
	font-size: 16px;
  overflow-x: hidden;
	&._lock {
		overflow: hidden;
	}
}


// </ОБНУЛЕНИЕ>================================================================================================================================

// <Палитра>====================================================================================================================================
:root {
	--standartButtonBackground: #007bff;
	--standartButtonColorText: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--globalBackground: #333333;
		--globaltextColor: #ffffff;

		--backgroundBlocks: #444444;
	}
  } // ТЕМНАЯ ТЕМА

  @media (prefers-color-scheme: light) {
	:root {
		--globalBackground: #ffffff;
		--globaltextColor: #333333;

		--backgroundBlocks: #f0f0f0;
	} // СВЕТЛАЯ ТЕМА
  }

// </Палитра>====================================================================================================================================


// <МИКСИНЫ>====================================================================================================================================
@import "mixins";

// </МИКСИНЫ>===================================================================================================================================

// <ПЛЕЙСХОЛДЕРЫ>====================================================================================================================================
@import './placeholders.scss';
// </ПЛЕЙСХОЛДЕРЫ>===================================================================================================================================

// <ИМПОРТЫ СТИЛЕЙ>=================================================================================================================================

// </ИМПОРТЫ СТИЛЕЙ>================================================================================================================================

// </ИМПОРТЫ>===================================================================================================================================


